:root{
  --color-primary: #BA55D3;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f5f5;
  height: 100vh;
}
.btn{
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 30px;
  background-color: #FF69B4;
  color: aliceblue;
  cursor: pointer;
}
.btn-small{
  padding: 6px 12px;
}

.top{
  height: 30vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top h1{
  margin-bottom: 20px;
}
.top input{
  width: 300px;
  padding: 9px 12px;
  border: none;
  border-radius: 30px;
  outline: none;
}
.top form{
  position: relative;
}
.top button{
  position: absolute;
  top: 0;
  right: 0;
}

.lyric-container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.lyric-container .lyric{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed #dedede;
  margin: 20px 0;
  padding: 10px;
}
.lyric-container .lyric img{
  width: 100px;
  border-radius: 50%;
}

.btn-group{
  margin: 0 auto;
  width: 150px;
}