*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #2f3542 url('./img/bg.jpg') no-repeat;
  background-size: cover;
  background-position: left center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.play-again{
  padding: 8px 15px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  color: #2f3542;
  cursor: pointer;
}

.msg{
  font-size: 1.5em;
  margin-top: 40px;
}

.box{
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}